<h1>Places I have been to!</h1>

{{#each this}}
	
	{{#if visited}}

	<ul class="thumbnails">
		  <li class="span4">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x200" alt="">
		      <h3>{{location}}</h3>
		      <p>{{#each reviews}}
			      <span>{{title}}</span> | <span>{{date}}</span>
			      {{/each}}
			  </p>
			  <div>{{text}}</div>
		    </div>
		  </li>
		</ul>


		<div class="reviewEntry">
			<label for="review" class="reviewEntry">Review:</label>
			<textarea placeholder="This trip was awesome" id="reviewEntry" class="reviewEntry"></textarea><br>
			<button id="saveReview">Save Review</button>
		</div>

		<button id="add-review#{{@key}}">Add Review</button>
	{{/if}}

{{/each}}